body {
  align-items: center;
  justify-content: center;
  background-image: url(../imgs/background.jpg);
  margin-top: 7vh;
  background-size: 167vh;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px 2px 1px 2px;
}

div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh 2px 1vh 2px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5vh;
}

.row {
  text-align: center;
}

.card_with_hover {
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.card_without_hover {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: rgb(253, 227, 179);
}

.card_with_hover:hover {
  background-color: rgb(236, 250, 154);
}

.pair1 {
  content: url(../imgs/pair-1.png);
}
.pair2 {
  content: url(../imgs/pair-2.png);
}
.pair3 {
  content: url(../imgs/pair-3.png);
}
.pair4 {
  content: url(../imgs/pair-4.png);
}
.pair5 {
  content: url(../imgs/pair-5.png);
}
.pair6 {
  content: url(../imgs/pair-6.png);
}
.pair7 {
  content: url(../imgs/pair-7.png);
}
.pair8 {
  content: url(../imgs/pair-8.png);
}
.pair9 {
  content: url(../imgs/pair-9.png);
}
.pair0 {
  content: url(../imgs/pair-10.png);
}
.hidden {
  background-color: white;
}

#retry {
  display: flex;
  font-family: cursive;
  font-size: 2vmin;
  margin-top: 2vh;
  border: 0.2vmin solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 1vmin;
}

#retry:hover {
  background-color: greenyellow;
  color: rgb(0, 0, 0);
}

button {
  background-color: white;
}

.hidden_msg {
  display: none;
}

img {
  width: 50vh;
  height: auto;
}
